/*=======================================
    GENERAL STYLES
==================================================*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.raiseup{
    padding-bottom: 80px;
}

.nav a {
    color: white;
}

.navbar-header a {
    color: white;
    padding-right: 100px;
}

.text-center {
text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    line-height: 80px;
    font-weight: 900;
    font-size: 60px;
    padding: 30px 20px 10px 20px;
    color: white;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    line-height: 40px;
    padding-bottom: 40px;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 20px;
    color: white;
    font-size: 18px;
}
 
.student-work{
    border: 5px solid white;
    max-height: 200px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 30px;
}

.space-free {
    height: 100px;
}

.g-pad-bottom {
    padding-bottom: 70px;
}

.for-full-back {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    /* IE 5-7 */
    filter: alpha(opacity=90);
    /* Netscape */
    -moz-opacity: 0.9;
    /* Safari 1.x */
    -khtml-opacity: 0.9;
    /* Good browsers */
    opacity: 0.9;
}

section {
    padding-top: 60px;
}


/*=======================================
    COLORS
==================================================*/
.color1{
    color:  white;
}

.color2{
    color: black;
}

.color-white {
    background-color: #191919;
}

.color-dark {
    background-color: #FF1919;
}

.color-light {
    background-color: #E9E9E9;
}


/*=======================================
    HEADER
==================================================*/

.head-main {
    font-size: 80px;
    font-weight: 900;
    color: #FF1919;
    padding: 180px 20px 10px 20px;
}

.head-sub-main {
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding: 5px 20px 10px 20px;
}

.head-last {
    font-size: 20px;
    font-weight: 300;
    color: white;
    padding: 5px 20px 100px 20px;
}


/*=======================================
    NAVBAR
==================================================*/

nav {
    position: absolute;
    width: 100%;
    background: white;
    z-index: 99;
}

.fixed {
    position: fixed;
    top: 0;
    min-height: 50px;
    z-index: 99;
}

.navbar-inverse {
    background-color: #3D3D3D;
    border-color: #3D3D3D;
}

.team-member {
    float: left;
    position: relative;
    width: 100%;
}

.team-member > img {
    float: left;
    width: 100%;
}

.space{
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.team-member > h3 {
    background: rgba(95, 154, 255, 0.85);
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    transition: all 0.3s ease 0s;
}

.team-member:hover > h3 {
    background: black;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

* {
    margin: 0;
    padding: 0;
  	-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		height: 100%;
		font-size: 13px;
		text-align: center;
		background: #333;
	}

	.lel {
		margin: 30px auto;
		text-align: center;
        float:right;
	}

	.non {
		list-style: none;
		position: relative;
		display: inline-block;
		width: 100px;
		height: 100px;
	}


	.round {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 30px;		
		text-decoration: none;		
		text-align: center;
		font-size: 25px;		
		text-shadow: 0 1px 0 rgba(255,255,255,.7);
		letter-spacing: -.065em;
		font-family: "Hammersmith One", sans-serif;		
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		box-shadow: 2px 2px 7px rgba(0,0,0,.2);
		border-radius: 300px;
		z-index: 1;
		border-width: 4px;
		border-style: solid;
	}

	.round:hover {
		width: 130%;
		height: 130%;
		left: -15%;
		top: -15%;
		font-size: 33px;
		padding-top: 38px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

	a.red {
		background-color: rgba(239,57,50,1);
		color: rgba(133,32,28,1);
		border-color: rgba(133,32,28,.2);
	}

	a.red:hover {
		color: rgba(239,57,50,1);
	}

	.round span.round {
		display: block;
		opacity: 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 1px;
		border: none;
		padding: 40% 20% 0 20%;
		color: #fff;
	}

	.round span:hover {
		opacity: .85;
		font-size: 16px;
		-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);	
	}

	.red span {
		background: rgba(133,32,28,.7);		
	}


/*=======================================
    CONTACT
==================================================*/

#social-icon a {
    color: #616161;
    margin-right: 10px;
}

.contact-cls {
    font-size: 20px;
    line-height: 40px;
}


/*=======================================
    FOOTER STYLES
==================================================*/

#footer {
    background-color: black;
    color: white;
    padding: 20px 50px 20px 50px;
    text-align: right;
}